body{
  text-align: center;
  /* background-color: #181528; */
  color: #936f2b;
  font-family: 'Playfair Display', serif;
  background-color: #181528;
  background-image: url('/static/overlay.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}



h1{
  font-family: 'Lobster', cursive;
margin-top: 20px;
}

h4, h3{
  font-family: 'Lobster', cursive;
}

.nav-link{
  font-family: 'Playfair Display', serif;
  color: #181528;
}

.nav-link:hover{
  color: #aea0fa;
}

#nav{
  background-color: #936f2b;
}

#navCard{
  width: 50px;
}

.card{
background-color: #181528;
border-radius: 2px;
color: #936f2b;
border: 5px double #936f2b;
font-family: 'Playfair Display', serif;
padding: 5px;
margin: 10px;
}

.container{
  margin: auto;
  
}

.list-group-item{
  background-color: #936f2b;
  border-radius: 5px;
  margin: 4px 10px;
  color: #181528;
}

#cardsPulled{
  border: none;
}

#middle{
  background-color: #69418b;
}

#readBtn{
background-color: transparent;
color: #936f2b;
width: fit-content;
align-self: center;
margin: 5px;
border: 2px solid #936f2b;
border-radius: 2px;
}

.form-group{
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

#postSpread{
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
}



TextArea{
  height: 200px;
}

#pageNo{
  background-color: #936f2b;
  color: #181528;
  border: none;
  margin-top: 50px;
}



a{
  text-decoration: none;
  color: #6a5eab;
}

a:hover{
  color: #aea0fa;
}


#readPost{
  margin: 50px;
  padding: 10px;
}

#readSpread{
  width: 80%;
  margin-bottom: 30px;
}

.card-title{
  font-family: 'Lobster', cursive;
  margin: 3px;
}

.tarotCards{
  width: 80%;
}

table{
  margin-left: 30%;
}

#update{
  width: fit-content;
  background-color: #936f2b;
  border: none;
  margin: 20px;

}

#delete{
  background-color: rgb(95, 5, 5);
  border: 2px solid rgb(95, 5, 5);
  margin: 20px;
  width: fit-content;
  color: antiquewhite;
}

#cardBtns{
  display: inline-flex;
}

.postBtn{
  background-color: #6a5eab;
  color:#181528;
}

.errorPage{
  width: 100%;
  margin: 0;
}

.error{
  background-image: none;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .tarotCards{
  height: 0;
  width: 0;
}
}