{% extends "base.html" %}
{% block content %}
<main>
<h1>Tarot Readings By Date</h1>

<div class="container">
    <div class="row">
        {% for post in tarot_posts.items %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='card.png')}}" alt="Card image cap">
            <h4 class="card-title"> {{post.spread}} </h4>
            <h5 class="card-body">{{post.title}} </h5>
            <a class="card-footer" id="readBtn"
                href="{{url_for('tarot_posts.tarot_post', tarot_post_id=post.id)}}">View</a>
        </div>
        {% endfor %}
    </div>
</div>
<nav aria-label="Page Navigation example">
    <ul class="pagination justify-content-center">
        {% for page_num in tarot_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if tarot_posts.page == page_num %}
        <li class="page-item disabled">
            <a id="pageNo" class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a id="pageNo" class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
</main>
{% endblock %}